/*-------stylesheet del nav---------*/
/*css imagen responsive*/
.responsive {
  width: 50%;
  height: auto;
}
/*-------------css navegador responsive---------*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat; font-weight: bold;
  background: #ffffff;
    padding: 0px;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 12px;
  padding: 1px 1px;
  border-radius: 1px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media 
only screen and (max-width: 500px),
(min-device-width: 500px) and (max-device-width: 1024px)  {
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media 
only screen and (max-width: 500px),
(min-device-width: 500px) and (max-device-width: 1024px)  {
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
/*-------------Administracion---------------*/
div{
    text-align: center;
    background: #e1f4f3;
    color: #333333;
    padding: 2em;
    -webkit-box-shadow: 0 0 9px .5px #23374d;
    box-shadow: 0 0 9px .5px #23374d;

}

.aprobar{
    text-align: center;
    margin: auto;
    text-decoration: none;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #fd3a69;
    border-radius: 0px;
    border: 2px solid #ffffff;
    
}
    .aprobar:hover{
    color: #1883ba;
    background-color: #ffffff;
    }

.rechazar{
    text-align: center;
    margin: auto;
    text-decoration: none;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #120078;
    border-radius: 0px;
    border: 2px solid #ffffff;
    
}
    .rechazar:hover{
    color: #1883ba;
    background-color: #ffffff;
    }
